# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives:
- Popular Lenaguages of Data Scientist
- Common Used Libraries
- Developmetn Enviroments Sources
- Examples and Exercises

#### Some of the popular languages that Data Scientist use are:

|Number | Lenguages |
|------- | ------ |
| 1 | PyThon |
| 2 | R |
| 3 | SQL |

### Some of the commonly used libraries used by Data Scientists include:

| Number | Libraries |
| ------ | ------ |
| 1 | Jupiter |
| 2 | Java |
| 3 | C+ |

### Development Enviroment Open Source

| Data Science Tools |
| ------ |
| Jupiter |
| Google Colab |
| IBM Watson |

### Bellow are a few examples of evaluating arithmetic expressions in Python

###### This a simple arithmetic expression to multiply then add integers

(3*4)+5

###### This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author

Martin Proano, MBA.